.header{
    /* text-align: start; */
    color: rgb(110, 41, 41);
    font-weight: bold;
}
input:invalid{
    border: 2px dashed red;
}
input:valid {
    border: 2px solid black;
}
    
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    padding: 10px;
}
label{
    display: block;
}
input{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
}
input:focus{
    border: 3px solid green;
}

button{
    height: 40px;
    width: 50px;
    border-radius: 8px;
    align-items: center;
    margin-left: 170px;
    color: white;
    background-color:rgb(110, 41, 41);
    cursor: pointer;
}
button:hover{
    scale: 150%;
}

small{
    /* position: absolute; */
    visibility: hidden;
}